@CHARSET "UTF-8";
.pay-info-dialog {
	width: 650px
}

.pay-info-dialog .pay-info dl {
	margin-bottom: 20px;
	font-size: 14px
}

.pay-info-dialog .pay-info dl dt {
	float: left;
	width: 160px;
	text-align: right
}

.pay-info-dialog .pay-info dl dd {
	margin-left: 175px
}

.pay-info-dialog .pay-info dl dd .checkbox {
	padding-top: 0px;
	font-size: 14px;
	color: #666
}

.pay-info-dialog .pay-info dl dd.order-store-title {
	font-weight: bolder;
	font-size: 16px
}

.pay-info-dialog .pay-info dl dd .money {
	color: #FF6600
}

.pay-info-dialog .pay-info dl dd .total-money {
	font-size: 20px;
	color: #FF7011
}

.pay-info-dialog .pay-info dl dd .read-agreement {
	font-size: 12px
}

.pay-info-dialog .pay-info dl dd .input-invite-code {
	visibility: hidden
}

.pay-info-dialog .pay-info dl dd .add-contact-info {
	color: #0079E0;
	cursor: pointer
}

.pay-info-dialog .pay-info dl dd .coupon-way {
	white-space: nowrap;
	text-align: center;
	border: 1px solid #999;
	color: #333;
	font-size: 14px;
	margin-right: 10px;
	border-radius: 2px;
	display: inline-block;
	width: 150px;
	height: 60px;
	vertical-align: middle;
	cursor: pointer
}

.pay-info-dialog .pay-info dl dd .coupon-way.active {
	border: 1px solid #FF6600
}

.pay-info-dialog .pay-info dl dd .coupon-way .coupon-info-first {
	margin-top: 14px;
	margin-bottom: 3px
}

.pay-info-dialog .pay-info dl dd .coupon-way .coupon-info-second {
	margin-top: 20px
}

.pay-info-dialog .pay-info dl dd .coupon-way .left-top-tag {
	position: absolute;
	background-color: #FF6600;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-bottom: 30px solid #fff
}

.pay-info-dialog .pay-info dl dd .coupon-way .left-top-tag .left-top-choose {
	display: inline-block;
	position: relative;
	left: -25px;
	width: 11px;
	height: 10px;
	background-repeat: no-repeat;
	background-image: url("/v2/image/icons/icon_choose.png")
}

.pay-info-dialog .pay-info dl dd .coupon-disabled {
	color: #CACACA;
	background: #f8f8f8;
	border-color: #e5e5e5;
	cursor: not-allowed
}

.pay-info-dialog .pay-info dl dd .coupon-disabled .coupon-info-disabled {
	margin-top: 20px
}

.pay-info-dialog .pay-info dl dd .coupon-tips {
	font-size: 14px;
	color: #666;
	margin-top: 10px
}

.pay-info-dialog .pay-info dl dd .coupon-tips .invite-code-input {
	width: 305px
}

.pay-info-dialog .pay-info dl dd .coupon-tips .invite-code-input.error {
	border-color: #FF4343;
	color: #FF4343
}

.pay-info-dialog .pay-info dl dd .coupon-tips .invite-code-checked {
	display: inline-block;
	margin-left: 5px;
	width: 16px;
	height: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/v2/image/icons/icons_right.png")
}

.pay-info-dialog .pay-info dl dd .coupon-tips .invite-code-checked.hide {
	display: none
}

.pay-info-dialog .pay-info dl dd .coupon-tips .invite-code-checked-text {
	font-size: 12px;
	color: #FF4343;
	vertical-align: 4px
}

.pay-info-dialog .pay-info .pay-info-line {
	border-bottom: 1px solid #e5e5e5;
	margin: 20px 0px;
	padding-bottom: 5px
}

.pay-info-dialog .pay-info .not-sufficient-funds {
	position: relative;
	margin-top: 10px;
	padding: 10px 6px;
	border: 1px solid #FDEEB2;
	border-width: 1px 2px;
	color: #333;
	background: #FFF6CC;
	width: 310px;
	font-size: 12px
}

.pay-info-dialog .pay-info .invite-error input {
	border-color: #f63535;
	color: #f63535
}

.pay-info-dialog .pay-info .invite-error:after {
	content: "閭€璇风爜鏃犳晥";
	position: absolute;
	display: inline-block;
	margin-left: -80px;
	margin-top: 5px;
	color: #f63535
}

.pay-info-dialog .pay-info .invite-success:after {
	content: "鈭�";
	display: inline-block;
	color: #fff;
	background: #07BF04;
	width: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	border-radius: 12px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	margin-top: 3px;
	vertical-align: top
}

.counting-down {
	color: #f60
}

.app-ordered-board {
	float: left;
	width: 65%
}

.app-ordered-board .title {
	margin-bottom: 10px;
	font-size: 18px;
	color: #333;
	font-weight: bold
}

.app-ordered-board .intro {
	color: #666;
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 20px
}

.app-ordered-board .url {
	color: #07d
}

.app-ordered-board .tutorial-url {
	margin-left: 10px
}

.app-ordered-board p.links {
	line-height: 24px;
	margin-bottom: 10px
}

.app-ordered-board .expired_time {
	margin-bottom: 10px
}

.app-reorder-btn {
	float: right;
	margin: 35px 10px 0 0;
	text-align: right
}

.app-reorder-btn .expired_time {
	margin-top: 5px
}

.try-free-expired-time {
	color: #F34F34;
	font-size: 14px;
	font-weight: normal
}

.widget-promotion {
	position: relative;
	z-index: 100;
	width: 360px;
	height: 320px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.widget-promotion .alert {
	margin-bottom: 10px
}

.widget-promotion::after,.widget-promotion::before {
	content: "";
	position: absolute;
	top: 66px;
	right: -19px;
	border: 10px solid transparent;
	border-left-color: white
}

.widget-promotion::before {
	right: -21px;
	border-left-color: #ccc
}

.widget-promotion-tab li {
	float: left;
	width: 50%;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	background: #f2f2f2;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.widget-promotion-tab li:first-child {
	border-top-left-radius: 9px
}

.widget-promotion-tab li:last-child {
	border-top-right-radius: 9px
}

.widget-promotion-tab li.active {
	background: #fff
}

.widget-promotion-tab li+li {
	border-left: 1px solid #ccc
}

.widget-promotion-main {
	min-height: 200px;
	padding: 10px 15px 20px
}

.widget-promotion-main label {
	margin: 10px 0 5px;
	font-size: 12px;
	line-height: 12px
}

.widget-promotion-main input[type="text"] {
	width: 230px
}

.widget-promotion-main button.btn {
	width: 55px
}

.widget-promotion-main select {
	width: 166px
}

.widget-promotion-main .widget-promotion-content {
	margin-top: 15px;
	padding-left: 20px
}

.widget-promotion-main .qrcode-popover.popover {
	z-index: 1000
}

.widget-promotion-main .qrcode-popover.popover .arrow {
	top: 33px
}

.widget-promotion-main .qrcode-popover .popover-inner {
	width: 365px
}

.widget-promotion-main .qrcode-popover .popover-content {
	padding: 0
}

.widget-promotion-main .qrcode-popover.loading .qrcode-content {
	visibility: hidden
}

.widget-promotion-main .qrcode-header {
	padding: 10px;
	border-bottom: 1px solid #E4E4E4
}

.widget-promotion-main .qrcode-header .close {
	margin-top: -3px
}

.widget-promotion-main .qrcode-title {
	font-size: 16px
}

.widget-promotion-main .qrcode-content {
	background-color: #F2F2F2;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.widget-promotion-main .qrcode-content.hide {
	display: none
}

.widget-promotion-main .qrcode-left-sidebar {
	height: 200px;
	overflow: auto;
	width: 164px;
	text-align: right
}

.widget-promotion-main .qrcode-left-sidebar .btn-delete-qrcode {
	display: none
}

.widget-promotion-main .qrcode-left-sidebar li {
	padding: 10px 20px 10px 10px;
	border-bottom: 1px solid #E4E4E4;
	cursor: pointer
}

.widget-promotion-main .qrcode-left-sidebar li.active {
	position: relative;
	background-color: #FFF
}

.widget-promotion-main .qrcode-left-sidebar li.active .btn-delete-qrcode {
	display: inline-block
}

.widget-promotion-main .qrcode-left-sidebar li.active::after {
	position: absolute;
	top: 14px;
	right: 1px;
	content: "";
	border: 4px solid transparent;
	border-left: 6px solid #F60
}

.widget-promotion-main .qrcode-left-sidebar li:hover .btn-delete-qrcode {
	display: inline-block
}

.widget-promotion-main .qrcode-right-sidebar {
	background-color: #FFF;
	width: 165px;
	min-height: 200px;
	padding: 0 0 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.widget-promotion-main .qrcode-right-sidebar img {
	padding-top: 10px;
	width: 200px;
	margin: -10px -10px 0 0
}

.widget-promotion-main .qrcode-links {
	padding: 5px 13px
}

.widget-promotion-main .qrcode-create-button {
	padding: 10px 20px 10px 10px;
	display: block
}

.widget-promotion-main .qrcode-text {
	color: #F60;
	margin-top: 5px
}

.widget-promotion-main .qrcode-form-create {
	margin: 30px 0 0;
	background-color: #FFF;
	overflow: hidden;
	padding: 0 10px
}

.widget-promotion-main .btn-create-qrcode {
	margin-right: 10px
}

.widget-promotion-main .qrcode-help {
	margin-right: -20px;
	font-size: 12px
}

.widget-promotion-main .form-horizontal .control-label {
	margin-top: 0;
	width: 100px
}

.widget-promotion-main .form-horizontal .control-group {
	margin-bottom: 5px
}

.widget-promotion-main .form-horizontal .controls {
	margin-left: 110px
}

.widget-promotion-main .form-horizontal label.radio.inline {
	margin-top: 0
}

.widget-promotion-main .form-horizontal .input-append input[type=text],.widget-promotion-main .form-horizontal .input-prepend input[type=text] {
	width: 120px
}

.widget-promotion-main .input-prepend .add-on,.widget-promotion-main .input-append .add-on {
	width: 20px
}

.page-groupon .groupon-title {
	font-size: 14px;
	background: #f2f2f2;
	line-height: 40px;
	padding: 0 20px
}

.page-groupon .form-horizontal {
	width: 100%;
	margin-top: 20px
}

.page-groupon .form-horizontal .control-group {
	margin-bottom: 15px
}

.page-groupon .form-horizontal .controls-limit .control-label,.page-groupon .form-horizontal .controls-join-group .control-label,.page-groupon .form-horizontal .controls-auto-group .control-label {
	text-align: left
}

.page-groupon .form-horizontal .controls-limit label,.page-groupon .form-horizontal .controls-join-group label,.page-groupon .form-horizontal .controls-auto-group label {
	display: inline-block;
	line-height: 29px;
	font-size: 14px
}

.page-groupon .form-horizontal .controls-limit input[type="checkbox"],.page-groupon .form-horizontal .controls-join-group input[type="checkbox"],.page-groupon .form-horizontal .controls-auto-group input[type="checkbox"] {
	margin-top: -1px
}

.page-groupon .form-horizontal .controls-limit input[type="text"],.page-groupon .form-horizontal .controls-join-group input[type="text"],.page-groupon .form-horizontal .controls-auto-group input[type="text"] {
	margin: 0 3px
}

.page-groupon .form-horizontal .groupon-limit-num {
	font-size: 14px
}

.page-groupon .form-horizontal .price-error {
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}

.page-groupon .form-horizontal .autogroup-tip {
	position: relative
}

.page-groupon .form-horizontal .tuan-example-img {
	display: none;
	position: absolute;
	top: -360px;
	right: 85px;
	padding: 10px;
	width: 200px;
	-webkit-box-shadow: 0 0 4px #ddd;
	box-shadow: 0 0 4px #ddd;
	background-color: #fff
}

.page-groupon .module-goods-list .goods-thumb {
	width: 50px;
	height: 50px;
	background-position: center center;
	background-size: cover
}

.page-groupon .w30 {
	width: 30px
}

.page-groupon .joingroup-tip {
	display: inline-block
}

.page-groupon .middle-td {
	vertical-align: middle
}

.page-groupon .js-batch-setting {
	display: none
}

.page-groupon .js-chief-batch-setting {
	display: none
}

.widget-list-item td {
	word-break: break-all
}

.ui-popover--confirm {
	width: 320px
}

.ui-popover--confirm .ui-popover-inner {
	padding-bottom: 22px;
	padding-top: 22px
}

.ui-popover--confirm .inner__header {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 300px
}

.ui-popover--confirm .inner__header>div {
	font-size: 13px !important
}

.ui-popover--confirm .inner__content {
	padding-top: 0px;
	margin-top: -10px;
	margin-bottom: 10px;
	border-top: none;
	background-color: #fff;
	font-size: 13px
}

.ui-popover--confirm .inner__content .inner__content-alert {
	color: #f34f34
}

.collection-root {
	margin: 3px 0 10px
}

.collection-root .disable {
	color: #999
}

.chief-discount {
	width: 220px
}

.disable-chief-discount .chief-discount {
	display: none
}

.collection-container {
	background: #fbfbfb;
	border: 1px solid #ddd;
	display: inline-block;
	padding: 10px
}

.collection-container input {
	margin-top: -3px;
	margin-right: 5px
}

.collection-container .collection-item {
	display: inline-block;
	margin-right: 15px
}

.groupon-promotion {
	width: 290px;
	height: 387px
}

.groupon-promotion.is-wx {
	height: 432px
}

.groupon-promotion .zent-page-loading {
	display: none
}

.groupon-promotion .zent-page-loading.show {
	display: block
}

.groupon-promotion .zent-page-loading .zent-page-mask {
	background-color: transparent
}

.groupon-promotion .tabs {
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #E5E5E5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}

.groupon-promotion .tabs .item {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center
}

.groupon-promotion .tabs .item a {
	color: #333;
	display: block;
	position: relative
}

.groupon-promotion .tabs .item a.active:after {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #3388FF
}

.groupon-promotion .tab-item {
	display: none
}

.groupon-promotion .tab-item.show {
	display: block
}

.groupon-promotion .zent-input-wrapper {
	width: 190px;
	margin: 20px auto 15px
}

.groupon-promotion .zent-input-wrapper .zent-input-addon-after {
	cursor: pointer
}

.groupon-promotion .widget-promotion-content {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.groupon-promotion .promotion-banner {
	text-align: center
}

.groupon-promotion .promotion-banner img {
	width: 190px;
	height: 278.28px;
	border: 1px solid #f2f2f2
}

.groupon-promotion .promotion-links {
	margin: 10px auto 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 190px
}

.data-set-table td .control-group {
	margin-bottom: 0 !important
}