@CHARSET "UTF-8";
body, div, p, span, h1, h2, h3, h4, h5, h6, img {
	margin: 0;
	padding: 0;
}

.shanpin {
	height: 50px;
	min-width:800px;
	padding: 10px 10px 10px 34px;
}

.shanpin div.layui-unselect {
	display: initial;
}

#goods_list tbody tr td .shanpin div.layui-unselect i {
	margin-bottom: 27px;
}

#goods_list2 tbody tr td .shanpin div.layui-unselect i {
	margin-bottom: 27px;
	margin-left: -7px;
}

#goods_list2 tfoot tr td .shanpin div.layui-unselect i{
	margin-bottom: 27px;
	margin-left: -7px;
}

#goods_list tfoot tr td .shanpin div.layui-unselect i{
	margin-bottom: 27px;
	margin-left: -7px;
}

.shanpin input {
	display: inline-block;
	margin-right: 10px;
}

.shanpin img {
	margin: -30px 10px 0;
	width: 50px;
	height: 34px;
}

.shanpin div {
	/**width: 75%;**/
	height: 50px;
	display: inline-block;
}

.sorting_disabled div.layui-unselect i {
	margin: 0 10px 0 27px;
}

.dataTables_length div.layui-unselect {
	display: none;
}

#joinDiv div.layui-form-radio i{
   	margin-top: -2px;
}
span.tips{
	color:red;
	display:none;
}