/*****************     样式初试化      **************************/
body,div,p,ul,ol,h1,h2,h3,h4,h5,h6,label,input{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: PingFangSC-Regular, sans-serif;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    border: none;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*返回按钮*/
.back{
    padding:0;
    cursor:pointer;
}
.back:after{
    clear:both;
    display:block;
    content:'';
}
.back>span{
    float:left;
    font-size:.2rem;
    margin-left:.1rem;
}
.back>img{
    width:.3rem;
    height:.3rem;
    float:left;
}

.clear::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
.clear{
    zoom: 1;
}
.fiex{
    display: flex;
    flex-wrap:wrap;
}
.viewport{
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    background: #F2F2F7;
    overflow: hidden;
}
.viewport>div{
    background: #fff;
    padding: .2rem .3rem;
    position: relative;
    color: #404040;
}
/*  标题  */
.title{
    font-size: .34rem;
    font-weight: bold;
}
/*  观看数量  */
.viewport .lookData{
    padding-top: 0;
    font-size: .24rem;
    color: #999;
}
.lookData>div{
    margin-right: .3rem;
}
.lookData img{
    margin-right: .1rem;
    width: .29rem;
    height: .2rem;
    margin-top: .05rem;
}
/*  作者信息  */
.viewport .writer{
    padding-bottom: 0;
}
.writer img{
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
}
.writer .content{
    padding-left: .3rem;
    font-size: .28rem;
}
/*  图文内容  */
.textContent{
    font-size: .26rem;
    line-height: 1.6;
}
.textContent img{
    width: 6.9rem;
    height: 4.68rem;
}
.textContent .time{
    padding: .15rem 0;
    text-align: right;
    font-size: .24rem;
    color: #999;
}
/*  产品推荐  */
.viewport .recommend{
    margin-top: .2rem;
}
.recommend .moduleName{
    margin-bottom: .25rem;
}
.recommend .moduleName img{
    width: .11rem;
    height: .2rem;
    margin-left: .1rem;
    margin-top: .08rem;
}
.recommend .moduleName .more{
    margin-top: .05rem;
    font-size: .26rem;
    color: #999
}
.recommend .shop{
    margin-bottom: .23rem;
    padding: .18rem .24rem;
    border: 1px solid #AAAAAA;
    border-radius: .1rem;
}
.recommend .img{
    width: 1.6rem;
}
.recommend .img img{
    width: 1.6rem;
    height: 1.6rem;
    display: block;
}
.recommend .data{
    width: 4.2rem;
    padding: .15rem .25rem .15rem .25rem;
}
.recommend .data .name{
    font-size: .32rem;
    overflow: hidden;
    line-height: 1.6;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.recommend .data .price{
    font-size: .28rem;
    color: #43CEA9
}
.recommend .shopping{
    width: .45rem;
}
.recommend .shopping img{
    width: .45rem;
    height: .45rem;
    margin: .3rem 0 .1rem;
    display: block;
}
.recommend .shopping span{
    display: block;
    font-size: .22rem;
    color: #999;
}
/*  评论模块  */
.commentModule{
    margin-top:.2rem;
}
.commentModule .title{
    padding-bottom: .1rem
}
.commentModule .commentPeople{
    margin: .2rem 0;
}
.commentModule .commentPeople .replyBtn{
    width: .9rem;
    text-align: center;
    height: .5rem;
    line-height: .5rem;
    margin-left: .17rem;
    margin-top: .1rem;
    background: #FF9F0D;
    color: #fff;
    font-size: .26rem;
    border: 1px solid #ddd;
    border-radius: .35rem;
    cursor: pointer;
}
.commentModule .commentPeople input{
    width: 5.8rem;
    height: .7rem;
    line-height: .7rem;
    padding: 0 .2rem;
    background: #F1F1F2;
    border-radius: .35rem;
    font-size: .26rem;
    color: #666;
    border: none;
}
/*  没有评论  */
.commentModule .noComment{
    padding: .3rem 0;
    height: 1.1rem;
    line-height: .5rem;
    font-size: .26rem;
    color: #999;
}
.commentModule .noComment img{
    width: .5rem;
    height: .5rem;
    margin-left: 1.7rem;
}
/*  评论列表  */
.commentModule .commentList{
    padding: .2rem 0 .3rem;
    border-bottom: 1px solid #EFEFF2;
    overflow: hidden;
}
.commentModule .commentList .portrait{
    width: .7rem;
    margin-right: .23rem;
}
.commentModule .commentList .content{
    width: 5.97rem;
}
.commentModule .portrait img{
    width: .7rem;
    height: .7rem;
    display: block;
    border-radius: 50%;
}
.commentModule .commentList .peopleName{
    font-size: .28rem;
    color: #666
}
.commentModule .commentList .peopleName .time{
    font-size: .22rem;
    color: #999
}
.commentModule .commentList .peopleName img{
    width: .36rem;
    height: .36rem;
    margin-right: .1rem;
}
.commentModule .commentList .commentCon{
    margin-top: .2rem;
    font-size: .28rem;
}
.commentModule .commentList .replyPeople{
    margin-top: .2rem;
    width: 7.5rem;
    padding: .1rem .2rem;
    background: #F1F1F2;
    border-radius: .1rem;
    font-size: .28rem;
    color: #666;
}
.commentModule .more{
    padding: .2rem 0;
    text-align: center;
    font-size: .28rem;
    color: #999;
    border-bottom: 1px solid #EFEFF2;
}
.commentModule .more img{
    width: .11rem;
    height: .2rem;
}
.commentModule .listMore{
    cursor: pointer;
}
.commentModule .operation{
    width: 1.4rem;
    background: #fff;
    position: absolute;
    top: 0;
    right: -1.5rem;
    transition: right 1s;
}
.commentModule .operation span{
    cursor: pointer;
}