@CHARSET "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}
body {
	min-width: 1000px;
	font-size: 12px;
	line-height: 1.5em;
	font-family: Helvetica, STHeiti, "Microsoft YaHei", Verdana, Arial,
		Tahoma, sans-serif;
	background-color: #fff
}
a {
    color: #38f;
    text-decoration: none;
}
a.new-window {
    color: blue;
}
.app {
    width: 100%;
    float: left;
}
.app-inner {
    min-height: 800px;
    margin: 0 0 0 150px;
    padding-bottom: 60px;
    background-color: #fff;
}
.page-content, .app__content {
    width: 850px;
    min-height: 420px;
    zoom: 1;
}
.app-design {
    min-width: 750px;
    width: 750px;
    margin: 0 auto;
}
.app-design .app-preview {
    position: relative;
    float: left;
    width: 320px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 24px;
}
.app-design .app-preview .app-header {
    display: none;
    height: 70px;
    background: url(iphone_head.png) no-repeat
 center center;
}
.app-design .app-preview .app-entry {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 11px;
    min-height: 200px;
    background: #f9f9f9;
    -webkit-box-shadow: 0 0 0 1px #c5c5c5;
    box-shadow: 0 0 0 1px #c5c5c5;
}
.app-design .app-preview .app-config .app-field.editing {
    background-color: transparent;
}
.app-design .app-preview .app-config .app-field {
    cursor: pointer;
    background-color: transparent;
}
.app-design .app-preview .app-field {
    position: relative;
    cursor: move;
    -webkit-user-select: none;
}
.app-design .app-preview .app-config .app-field h1 {
    padding: 18px 60px 0 60px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: url(../../webstore/webpage/image/titlebar.png) no-repeat;
}
.app-design .app-preview .app-config .app-field h1 span {
    display: inline-block;
    height: 46px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-tradeincard .about-card-desc {
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: #ccc;
}
.page-tradeincard .ump-coupon-detail-wrap .promote-card {
    text-align: center;
}
.app-preview .promote-card {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    min-height: 180px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe314e),
 to(#fe6263));
    background: -moz-linear-gradient(to bottom, #fe314e, #fe6263);
    color: #fff;
}
.page-tradeincard .ump-coupon-detail-wrap .promote-card-name {
    font-size: 18px;
    line-height: 60px;
}
.app-preview .promote-card .promote-card-name {
    line-height: 40px;
    padding-left: 10px;
}
.app-preview .promote-card .transparent-color {
    color: rgba(255, 255, 255, 0.5);
}
.app-preview .promote-card .promote-share {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ffbabb;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    cursor: pointer;
}
.center, .text-center {
    text-align: center;
}
.app-preview .promote-card .promote-value {
    font-size: 40px;
    word-break: break-word;
}
.app-preview .promote-card .promote-value .promote-value-sign {
    font-size: 30px;
}
.page-tradeincard .ump-coupon-detail-wrap .promote-value-sign {
    line-height: 40px;
}
.app-preview .promote-card .dot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: url(dot.png) repeat-x left bottom;
    background-size: auto 5px;
}
.page-tradeincard .ump-coupon-detail-wrap .promote-desc {
    display: block;
}
.app-preview .promote-desc {
    display: none;
    color: #333;
    word-break: break-all;
}
.app-preview .promote-desc .promote-desc-title {
    padding: 10px 0 0 20px;
}
.app-preview .block.border-top-0 {
    border-top: 0;
}
.app-preview .block {
    -webkit-border-image: url(border-line-2.png) 2 stretch;
    -moz-border-image: url(border-line-2.png) 2 stretch;
    border-image: url(border-line-2.png) 2 stretch;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    overflow: hidden;
    margin: 10px 0;
    background-color: #fff;
    display: block;
    position: relative;
    font-size: 14px;
}
.app-preview .block-item {
    position: relative;
    display: block;
    padding: 10px;
    line-height: 1.5;
    border: 0;
    -webkit-border-image: url(border-line-2.png) 2 stretch;
    -moz-border-image: url(border-line-2.png) 2 stretch;
    border-image: url(border-line-2.png) 2 stretch;
    border-top: 2px solid #e5e5e5;
    overflow: hidden;
}
.app-preview .promote-desc .more-desc {
    display: none;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.app-design .app-sidebar {
    position: relative;
    float: left;
    width: 420px;
    margin: 0 0 50px 10px;
    font-size: 14px;
}
.app-design .app-sidebar .arrow, .app-design .app-sidebar .arrow:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 7px 6px 0;
    border-color: transparent #d1d1d1 transparent transparent;
    position: absolute;
    left: -6px;
    top: 19px;
}
.app-design .app-sidebar .arrow:after {
    content: "";
    border-right-color: #f8f8f8;
    left: 2px;
    top: -6px;
}
.app-design .app-sidebar .app-sidebar-inner {
    padding: 12px 10px;
    min-height: 28px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}
.app-design .app-sidebar .app-sidebar-inner .form-horizontal {
    margin-bottom: 0;
}
.form-horizontal {
    margin-bottom: 30px;
    width: auto;
}
.page-tradeincard .config-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.form-horizontal .control-label {
    width: 120px;
    font-size: 14px;
    line-height: 18px;
}
.form-horizontal .controls {
    margin-left: 180px;
}
.form-horizontal em.required {
    font-size: 16px;
    color: #f00;
    vertical-align: middle;
}
.form-horizontal .controls {
    margin-left: 130px;
    word-break: break-all;
}
.app-design .app-sidebar .controls {
    margin-left: 93px;
}
.app-design .app-sidebar .control-label {
    width: 87px;
    cursor: default;
}
input[type="text"] {
    font-size: 12px;
}
.app-design .app-sidebar .required {
    margin-right: 2px;
    vertical-align: middle;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: -16px;
    margin-top: 2px;
}
.form-horizontal .help-block, .form-horizontal .help-desc {
    opacity: 0.6;
    line-height: 14px;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 0;
}
.red {
    color: #f30;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.hasDatepicker[readonly] {
    background-color: #fff;
    cursor: pointer;
}
.app-design .app-actions {
    position: fixed;
    bottom: 0;
    width: 850px;
    padding-top: 20px;
    clear: both;
    text-align: center;
    z-index: 2;
}
.app-design .app-actions .form-actions {
    padding: 10px;
    background-color: #ffc;
    border-top: none;
    margin: 0;
}
.form-actions .btn {
    margin-right: 6px;
}
.notify-bar {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    width: 850px;
    font-size: 14px;
}
.form-horizontal .help-block:hover, .form-horizontal .help-desc:hover{
	opacity:1;
}
.app-preview .promote-card .promote-limit {
    line-height: 40px;
}
.select2-container-multi .select2-choices {
    min-height: 26px;
}
.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(to bottom, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(to bottom, #eee 1%, #fff 15%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}
ol, ul {
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 18px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,0.05);
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
.select2-container-multi .select2-search-choice-close {
    right: 3px;
}
.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: none;
    background: url(/v2/image/select2.png) right top no-repeat;
}